@charset "UTF-8";

@font-face {
  font-family: 'ThaiSans-Regular';
  src: url('../fonts/ThaiSansNeue-Regular.ttf');
}
@font-face {
  font-family: "ThaiSans-Bold";
  src: url('../fonts/ThaiSansNeue-Bold.ttf');
}
@font-face {
  font-family: "ThaiSans-BoldItalic";
  src: url('../fonts/ThaiSansNeue-BoldItalic.ttf');
}
@font-face {
  font-family: "ThaiSans-Italic";
  src: url('../fonts/ThaiSansNeue-Italic.ttf');
}
@font-face {
  font-family: "ThaiSans-Light";
  src: url('../fonts/ThaiSansNeue-Light.ttf');
}
@font-face {
  font-family: "ThaiSans-LightItalic";
  src: url('../fonts/ThaiSansNeue-LightItalic.ttf');
}

body {
	overflow: hidden;
	overflow-y: auto;
	font-family: "ThaiSans-Light";
}
p {
	color: #666666;
	font-size: 18px;
}
strong{
	font-weight:700;
}
.text-bold{
	font-family: "ThaiSans-Bold";
}
.text-bold-italic{
	font-family: "ThaiSans-BoldItalic";
}
.text-light{
	font-family: "ThaiSans-Light";
}
.text-light-italic{
	font-family: "ThaiSans-LightItalic";
}
.text-ci-blue {
	color:#13b7d6;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

/* START #main-nav */
#main-nav {
  padding: 20px 15px;
  position:absolute;
  width:100%;
  z-index:9999;
}
#main-nav .navbar-brand .card-img-top{
  max-width:230px;
}

@media (max-width: 767px) {
	#main-nav .navbar-brand .card-img-top{
		max-width:150px;
	}
}
#main-nav .bar1, #main-nav .bar2, #main-nav .bar3 {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}
#main-nav .change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-2px, 6px);
  transform: rotate(-42deg) translate(-2px, 6px);
}
#main-nav .change .bar2 {
  opacity: 0;
}
#main-nav .change .bar3 {
  -webkit-transform: rotate(46deg) translate(-4px, -8px);
  transform: rotate(46deg) translate(-4px, -8px);
}

#main-nav .navbar-nav li {
  padding: 5px 15px !important;
}
#main-nav .navbar-nav li a {
  font-family: "ThaiSans-Light";
  font-size: 24px;
  color: #666;
}
#main-nav .navbar-nav li a.active {
  font-family: "ThaiSans-Bold";
  color: #000;
  border-bottom:3px solid #000;
}
/* END #main-nav */


/* START #banner-area */
.banner-area a, .feature a, .features a, .news .owl-carousel .card a, #gtco-footer .submit-button {
  background-image: -moz-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
  background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
  background-image: -ms-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
  font-size: 18px;
  font-family: "OpenSans-Semibold";
  color: #fff;
  border-radius: 50px;
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 5px;
  text-decoration: none !important;
}
.banner-area a .fa, .feature a .fa, .features a .fa, .news .owl-carousel .card a .fa, #gtco-footer .submit-button .fa {
  background: #fff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: #37eaf9;
  font-size: 22px;
  text-align: center;
  padding-top: 5px;
  margin-left: 15px;
}

.feature h2, .features h2 {
  font-family: "ThaiSans-Regular";
  color: #000000;
  font-size: 36px;
  margin-bottom: 30px;
}

.card {
  border: none;
  background: transparent;
}

.banner-area {
  background: transparent url('../images/bg-top-banner.jpg') no-repeat center bottom / cover;
  padding: 180px 0;
  min-height: 500px;
}
.banner-area h1 {
  color: #000000;
  margin-top: 70px;
}
.banner-area h1 .text-light{
	color:#000000 !important;
}
@media (max-width: 1199px) {
  .banner-area h1 {
    margin-top: 30px;
  }
}
.banner-area p {
  max-width: 450px;
  margin: 20px 0;
  margin-bottom: 40px;
}
.banner-area a {
  display: inline;
  padding: 10px 30px;
  padding-right: 5px;
}
.banner-area .col-md-6 .card .card-img-top {
  max-width: 430px;
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 0;
}
@media (max-width: 1400px) {
  .banner-area .col-md-6 .card .card-img-top {
    max-width: 400px;
    margin-top: 20px;
    margin-right: auto;
  }
}
@media (max-width: 1199px) {
  .banner-area .col-md-6 .card .card-img-top {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .banner-area .col-md-6 .card .card-img-top {
    margin-top: 100px;
  }
}

/* FEATURE LIST */
.feature-list-area{
	padding:50px 0;
	background-color:#13b7d6;
	color:#fff !important;
}
.feature-list-area .feature-list-img,
.feature-list-area .feature-list-content{
	padding-bottom:15px;
}
.feature-list-area .rounded-circle{
	border:2px solid #fff;
	margin-bottom:20px;
}

/* FEATURE PRODUCT */
.feature-product{
	background-color:#c3c4c6;
	padding:50px 0;

}
.feature-product .rounded-circle{
	margin-bottom:20px;
}

/* FEATURE PRODUCT */
.feature-contact{
	padding:50px 0;

}

/* FOOTER */
#footer{
	background-color:#333333;
	padding: 20px 15px;
	color:#fff;
}
.img-social-footer{
	max-width:45px;
}
.footer-address{
	font-size:1.6rem;
	line-height:1.4rem;
}
#copyright{
	color:#000;
}
.img-social-footer{
	max-width:45px;
}

/**/
.talk-with-me{
	bottom:0;
	font-family: "ThaiSans-Bold";
	font-size:1.3rem;
	position:fixed;
	width:100%;
}
.talk-with-me-area{
	border-radius:10px 10px 0 0;
	box-shadow:1px 1px 5px rgb(50,50,50);
}
.talk-with-me .talk-with-me-header{
	background-color:#13b7d6;
	border-radius:10px 10px 0 0;
	color:#fff;
	padding:5px 20px;
	cursor:pointer;
}
.talk-with-me .talk-with-me-content{
	background-color:#fff;
	display:none;
	font-family: "ThaiSans-Bold";
	font-size:1.2rem;
	line-height:1.1rem;
	padding:5px 20px;
	text-align:left;
}
.talk-with-me .talk-with-me-content.active{
	display:block;
}
.talk-with-me .talk-with-me-content span{
	font-family: "ThaiSans-Regular";
	font-size:0.8em;
	line-height:0.7em;
	padding-top:20px;
}
.talk-with-me .talk-with-me-content input{
	border-top:0;
	border-left:0;
	border-right:0;
	border-radius:0;
	width:100%;
}
.talk-with-me .talk-with-me-content .row{
	margin-top:20px;
}
#calc_result{
	font-family: "ThaiSans-Bold";
	font-size:1.2em;
}


/* PRETTY CUSTOM */
.dropdown-toggle::after {
    margin-left: 10px;
}


.oversize-l{
	font-size:2.5rem;
}
.oversize-xl{
	font-size:4rem;
}
.oversize-xxl{
	font-size:5.5rem;
}
@media (max-width: 960px) {  
	.oversize-l{
		font-size:2rem;
	}
	.oversize-xl{
		font-size:3rem;
	}
	.oversize-xxl{
		font-size:4rem;
	}
}
@media (max-width: 480px) {  
	.oversize-l{
		font-size:1.5rem;
	}
	.oversize-xl{
		font-size:2rem;
	}
	.oversize-xxl{
		font-size:2.5rem;
	}
}